#blogHeader{
    background-image: url(../images/blog-header-3.avif);
    max-height: 200px;
    min-height: 200px; 
}
.blog-title{
    max-height: 200px;
    min-height: 200px;
}
.blog-title h1{
    color: #ffffff;
    font-weight: 600;
}
/* **********************Blog-Navigation*************************** */
.blog-navigation{
    margin-top: 1.6rem;
}
.blog-navigation a{
    text-decoration: none;
    color: #212529;
    font-weight: 500;
    font-size: .95rem;
}
/* *************************Blog-section************************** */
.blog-section{
    background-color: #f6f6f6;
    padding: 2rem;
}
.blog-box{
    margin: 0px auto 1rem auto;
    transition: all .3s ease;
}
.blog-box:hover{
    box-shadow: 5px 5px 10px #dfdede;
    opacity: 5;
}
.blog-box a{
   text-decoration: none;
   display: block;
   width: 100%;
}
.blog-image{
   padding: 1.2rem .5rem;
   background-color: #ffffff;
   box-sizing: border-box;
}
.blog-image img{
    display: block;
    width: 100%;
    object-fit: contain;
    max-height: 9rem;
}
.blog-desc{
    padding-top: .8rem;
    text-align: center;
}
.blog-desc p{
    color: #000;
    font-weight: 500;
    font-size: .9rem;
}
.page-count span{
    display: inline-block;
    margin: .5rem;
    font-weight: 500;
    cursor: pointer;
    font-size: .9rem;
}
.page-count span i{
   font-weight: 900;
   font-size: 1.2rem;
}

/* *******************************Top rated*********************** */
.top-rated{
    background-color: #eff8fa;
    padding: 4rem;
}
.rated-box{
    margin-bottom: 1rem;
}
.top-rated h2{
    font-weight: 600;
    margin-bottom: 2.2rem;
}
.top-rated img{
    display: block;
    margin: auto;
    width: 80%;
}
.rated-item{
    background-color: #fcfcfc;
    padding: .6rem 0px;
    border-radius: 4px;
}

