*{
    font-family: 'Montserrat', sans-serif;
}
body{
    min-width: 345px;
}
.navbarbrand{
    text-decoration: none;
    font-weight: 900;
    font-size: 2.4rem;
    color: #000;
    letter-spacing: 1px;
}
.navbarbrand span{
    color: #0ecce4;
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: capitalize;
}
@media(max-width:450px){
    .navbarbrand{
        margin: auto;
        text-align: center;
        align-items: center;
        font-size: 2rem;
    }
    .navbarbrand span{
        margin: auto;
        text-align: center;
        align-items: center;
        font-size: 2rem;
    }
}
@media(max-width:4px){
    .navbarbrand{
        font-size: 1.8rem;
    }
    .navbarbrand span{
        font-size: 1.8rem;
    }
}
@media(max-width:380px){
    .navbarbrand{
        font-size: 1.6rem;
    }
    .navbarbrand span{
        font-size: 1.6rem;
    }
}
#searchform{
    height: 3.3rem;
    width: 40%;
    margin-left: 3.5rem;
}
#searchform input{
    display: inline-block;
    height: 100%;
    width: 78%;
    border: 1px solid #e2e2e3;
    outline: none;
    border-radius: 5px;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #212529;
    font-weight: 400;
    padding: .5rem;
}
#searchform button{ 
    display: inline-block;
    height: 100%;
    background-color: #0ecce4;
    outline: none;
    border-radius: 5px;
    color: #fff;
    border: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 18%;
}
#searchform button:hover{
    background-color: #00def3;
}
#searchform button:active{
    background-color: #0ecbe4c1;
}
@media(max-width:815px){
    #searchform{
        height: 2.5rem;
        margin: 1.2rem auto 0px auto;
        width: 100%;
        text-align: center;
    }
    #searchform input{
       width: 80%;
       height: 100%;
    }
    #searchform button{
        width: 15%;
        height: 100%;
     }
}
.nav-item .active{
   margin-left: 2.5rem;
}
@media(max-width:992px){
    .nav-item .active{
        margin-left: 0px;
        margin-top: .5rem;
     } 
}
.nav-item .nav-link{
    color: #3e4956;
    margin-left: 1rem;
    font-weight: 600;
}

